@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Josefin+Sans:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#headline-section {
    background: url('../images/iceland-hero.jpg') no-repeat center center fixed;
    width: auto;
    height: 100vh;
    position: relative;

}

.headline-text {
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    color: rgb(247, 245, 245);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.headline-text h1 {
    font-size: 90px;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
}

.headline-text a {
    color: whitesmoke;
    font-size: 25px;
}