@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Fira+Sans:wght@100;200;300;400;500;600;700&family=Oswald:wght@300&family=Josefin+Sans:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

/* Background-image main section */
#headline-section {
    background: url('../images/iceland-hero-filter.jpg') no-repeat center center fixed;
    background-color: rgb(66, 64, 64);
    width: auto;
    height: 100vh;
    position: relative;
}

/* Nav bar links */
#headline-section a {
    font-size: 20px;
    color: rgb(247, 245, 245);
}

/* Heading over background image */
.headline-text {
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    color: rgb(247, 245, 245);
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 3px;
    opacity: 0.8;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}

.headline-text a {
    color: whitesmoke;
    font-size: 20px;
}

/* Intro section */
#intro-section {
    text-align: center;
    padding: 60px;
    background-color: rgb(207, 214, 241);
    color: rgb(66, 64, 64);
}

.info-text h2 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;

}

.info-text p {
    padding: 25px 40px 20px 40px;
    font-size: 20px;
}

.info-text a {
    color: rgb(66, 64, 64);
    font-size: 30px;
}

/* DESTINATIONS PAGE */

.destinations-header {
    background-color: rgb(207, 214, 241);
}

.destinations-nav a {
    color: rgb(66, 64, 64);
}

#country-iceland {
    background-image: url('../images/iceland-glacier.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(66, 64, 64);
    width: 100%;
    height: 300px;
    text-align: center;
    position: relative;
}

.country-text {
    width: 50%;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 3px;
    opacity: 0.8;
}

.iceland-text {
    position: absolute;
    margin: auto;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
}

.iceland-text a {
    color: rgb(247, 245, 245);
    text-decoration: none;
}

#country-malta {
    background-image: url('../images/malta-sea.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(66, 64, 64);
    width: 100%;
    height: 300px;
    text-align: center;
    position: relative;
}

.malta-text {
    position: absolute;
    margin: auto;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
}

.malta-text a {
    color: rgb(247, 245, 245);
    text-decoration: none;
    text-align: center;
}

#country-new-zealand {
    background-image: url('../images/new-zealand-hobbit-house.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(66, 64, 64);
    width: 100%;
    height: 35vh;
    text-align: center;
    position: relative;
}

.new-zealand-text {
    position: absolute;
    margin: auto;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
}

.new-zealand-text a {
    color: rgb(247, 245, 245);
    text-decoration: none;
    text-align: center;
}

#country-morocco {
    background-image: url('../images/morocco-own.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(66, 64, 64);
    width: 100%;
    height: 35vh;
    position: relative;
}

.morocco-text {
    position: absolute;
    margin: auto;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.morocco-text a {
    color: rgb(247, 245, 245);
    text-decoration: none;
}

#country-ireland {
    background-image: url('../images/ireland-1-v2.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(66, 64, 64);
    width: 100%;
    height: 35vh;
    text-align: center;
    position: relative;
}

.ireland-text {
    position: absolute;
    margin: auto;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
}

.ireland-text a {
    color: rgb(247, 245, 245);
    text-decoration: none;
    text-align: center;
}

.country-intro-info {
    margin: auto;
    width: 80%;
    text-align: center;
}

/* Contact page */
#contact-section {
    background: url('../images/ireland-maeve-filter.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgb(66, 64, 64);
    width: auto;
    height: 100vh;
    position: relative;
}

#contact-section a {
    font-size: 20px;
    color: rgb(247, 245, 245);
}

.contact-heading-row {
    padding-top: 80px;
    text-align: center;
}

/* Form all from love running*/
.contact-form {
    color: #fff;

}

.contact-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 30px;
}

.form-group {
    padding: 10px 20px 10px 20px;

}

.text-input {
    background: transparent;
    border-color: rgb(123, 121, 148);
    color: #fafafa;
    background-color: rgba(60, 60, 60, 0.2);
    width: 80%;
    margin: auto;

}

.text-input:hover {
    border-color: rgb(247, 245, 245);
}

.btn {
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    background-color: #4752b8;
    color: #fafafa;

}

/* Footer */
footer {
    background-color: rgb(207, 214, 241);
    color: rgb(66, 64, 64);
    text-align: center;
}

footer a {
    color: rgb(66, 64, 64);
}

#footer-hr {
    background-color: rgb(207, 214, 241);
    color: rgb(66, 64, 64);
    width: 75%;
    border: 1px solid;
}


/* Media Queries */

@media screen and (max-width: 767px) {

    .headline-text {
        font-size: 20px;
        letter-spacing: 1.5px;
    }

    .headline-text h1 {
        font-size: 35px;
        text-transform: uppercase;
    }

    #intro-section {
        padding: 8px;
        padding-top: 20px;
    }

    .info-text h2 {
        font-size: 20px;
    }

    .info-text p {
        padding: 25px 10px 20px 10px;
        font-size: 16px;
    }

    .info-text a {
        font-size: 20px;
    }

    .footer-item {
        height: 30px;
    }

}