/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Fira+Sans:wght@100;200;300;400;500;600;700&family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

/* Smooth scroll effect as per W3 schools */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

/* ----- Headings ------- */
h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(247, 245, 245);
}


/* ----- Navigation Bar ------- */
#headline-section .navbar-brand {
    font-size: 20px;
    font-weight: 400;
    color: rgb(247, 245, 245);
}

.nav-item a {
    font-size: 20px;
    color: rgb(247, 245, 245);
    font-weight: 400;
}


.hambuger-menu-icon {
    font-size: 30px;
    color: rgba(247, 245, 245, 0.8);
}

.navbar .navbar-toggler {
    border: 0;
}


/* ------- Footer -------- */
footer {
    background-color: rgb(207, 214, 241);
    color: rgb(66, 64, 64);
    text-align: center;
}

footer a {
    color: rgb(66, 64, 64);
    text-decoration: none;
}

.social-media a {
    padding-right: 15px;
}

footer a:hover {
    color: rgb(66, 64, 64);
    text-decoration: none;
}

#footer-hr {
    background-color: rgb(207, 214, 241);
    color: rgb(66, 64, 64);
    width: 75%;
    border: 1px solid;
}

/* ------- Home Page -------- */

/* Background-image main section */
#headline-section {
    background: url('../images/iceland-hero-filter.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgb(66, 64, 64);
    width: auto;
    height: 100vh;
    position: relative;
}

/* Heading over background image */
.headline-text {
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    color: rgb(247, 245, 245);
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 3px;
    opacity: 0.8;
}

.headline-text a {
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
}

.headline-text i {
    font-size: 18px;
}

/* Intro section */
#intro-section {
    text-align: center;
    padding: 60px;
    background-color: rgb(207, 214, 241);
    color: rgb(66, 64, 64);
}

.info-text h2 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;

}

.info-text p {
    padding: 25px 40px 20px 40px;
    font-size: 20px;
}

.info-text a {
    color: rgb(66, 64, 64);
    font-size: 20px;
    text-decoration: none;
}

.info-text i {
    font-size: 18px;
}



/* ------- DESTINATIONS PAGE --------- */
/* Heading and Nav */

.destinations-header {
    color: rgb(247, 245, 245);
}

.destinations-nav a {
    font-size: 20px;
    color: rgb(247, 245, 245);
    font-weight: 400;
}

#country-iceland a {
    color: rgb(247, 245, 245);
}

/* DESTINATIONS PAGE - country sections general */

.country-text {
    width: 50%;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 3px;
    opacity: 0.8;
    position: absolute;
    margin: auto;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.country-text a {
    color: rgb(247, 245, 245);
    text-decoration: none;
}

/* All boxes */
#country-iceland,
#country-malta,
#country-new-zealand,
#country-morocco,
#country-ireland {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(66, 64, 64);
    width: 100%;
    text-align: center;
    position: relative;
}

/* Iceland box */
#country-iceland {
    background-image: url('../images/iceland-glacier-small.jpg');
    height: 400px;
}

.iceland-title {
    margin-top: 70px;
}

/* Malta box */
#country-malta {
    background-image: url('../images/malta-sea-small.jpg');
    height: 340px;
}

/* New Zealand box */
#country-new-zealand {
    background-image: url('../images/new-zealand-hobbit-house-small.jpg');
    height: 340px;
}

/* Morocco box */
#country-morocco {
    background-image: url('../images/morocco-own-small.jpg');
    height: 340px;
}

/* Ireland box */
#country-ireland {
    background-image: url('../images/ireland-1-v2-small.jpg');
    height: 340px;
}

/* Hidden Div section - general */

.destinations-info-text {
    text-align: center;
    padding: 40px;
    color: rgb(66, 64, 64);
}

.country-title-hr {
    color: rgb(66, 64, 64);
    width: 75%;
    border: 1px solid;
}

.destinations-info-text h2 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.destinations-info-text p {
    padding: 20px 35px 15px 35px;
    font-size: 24px;
}

.hidden {
    display: none;
}

.box-one {
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-right: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

#iceland-div,
#malta-div,
#newzealand-div,
#morocco-div,
#ireland-div {
    height: auto;
    width: 90%;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px 5px rgb(180, 185, 206);
    box-shadow: 5px 5px 5px 5px rgb(180, 185, 206);
    margin-left: 25px;
}

#iceland-div p,
#malta-div p,
#newzealand-div p,
#morocco-div p,
#ireland-div p {
    font-size: 20px;
}

ul {
    list-style: none;
}

.place-list-items {
    cursor: pointer;
}

#map-one,
#map-two,
#map-three,
#map-four,
#map-five {
    display: inline-block;
    width: auto;
    height: 500px;
    padding: 10px;
    margin-top: 40px;
}

.text-map-row {
    margin-left: -2px;
    margin-right: -2px;
}

/* Weather section */
.weather-box {
    text-align: center;
    width: 80%;
    background-color: rgb(207, 214, 241);
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 5px;
}

.weather-box h2,
h3 {
    font-size: 20px;
}

#iceland-weather h3 {
    padding-left: 10px;
}

#iceland-weather p {
    font-size: 18px;
}

.weather-box p {
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
}

#iceland-weather,
#malta-weather,
#new-zealand-weather,
#morocco-weather,
#ireland-weather {
    height: auto;
}

.wicon {
    width: 80px;
    height: 80px;
}

.up-arrow {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.up-arrow i {
    font-size: 35px;
    color: rgb(128, 125, 125);
}


/* Contact page */
#contact-section {
    background: url('../images/iceland-night-lights.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgb(66, 64, 64);
    width: auto;
    min-height: 100vh;
    position: relative;
    padding-bottom: 20px;
}

#contact-section a {
    font-size: 20px;
    font-weight: 400;
    color: rgba(247, 245, 245, 0.8);
}

.contact-heading-row {
    padding-top: 30px;
    text-align: center;
}


.contact-form {
    color: rgba(247, 245, 245, 0.8);
}

.contact-heading {
    color: rgba(247, 245, 245, 0.8);
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-top: 30px;
}

.form-group {
    padding: 10px 20px 10px 20px;
}

/* Some styling for form taken from Love running mini-project */
.text-input {
    background: transparent;
    border-color: rgb(123, 121, 148);
    color: rgba(247, 245, 245, 0.8);
    background-color: rgba(60, 60, 60, 0.2);
    width: 80%;
    margin: auto;
}

.text-input:hover {
    border-color: rgb(247, 245, 245);
}

.btn {
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    background-color: rgb(207, 214, 241);
    color: rgb(66, 64, 64);
    font-size: 20px;
}

/* Quotes box */

.quotes-col {
    padding-top: 80px;
}

blockquote {
    padding-top: 80px;
    color: rgba(247, 245, 245, 0.8);
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

blockquote span {
    padding-top: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}



/* ----- Media Queries -----  */

/* Screens under 575px */
@media screen and (max-width: 575px) {
    .city-description {
        display: block !important;
    }
}

/* Screens under 767px */
@media screen and (max-width: 767px) {

    .nav-item a {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .headline-text {
        font-size: 20px;
        letter-spacing: 1.5px;
    }

    .headline-text h1 {
        font-size: 35px;
        text-transform: uppercase;
    }

    #intro-section {
        padding: 8px;
        padding-top: 20px;
    }

    .info-text h2 {
        font-size: 20px;
    }

    .info-text p {
        padding: 25px 10px 20px 10px;
        font-size: 16px;
    }

    .info-text a {
        font-size: 20px;
    }

    .footer-item {
        height: 30px;
    }

    .country-text h1 {
        font-size: 30px;
    }

    .iceland-title {
        margin-top: 40px;
    }

    .country-text {
        top: 70px;
        width: 80%;
    }

    .destinations-info-text {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    .weather-box {
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #iceland-weather {
        padding: 5px;
    }

    .destinations-info-text p {
        padding: 20px 5px 15px 5px;
        font-size: 20px;
    }

    .destinations-info-text ul {
        padding-left: 5px;
    }

    #iceland-div,
    #malta-div,
    #newzealand-div,
    #morocco-div,
    #ireland-div {
        margin-left: 15px;
    }

    #iceland-div p,
    #malta-div p,
    #newzealand-div p,
    #morocco-div p,
    #ireland-div p {
        font-size: 18px;
    }

    #country-iceland {
        height: 280px;
    }

    #country-malta,
    #country-new-zealand,
    #country-morocco,
    #country-ireland {
        height: 240px;
    }

    #map-one,
    #map-two,
    #map-three,
    #map-four,
    #map-five {
        height: 300px;
    }

    #contact-section .nav-item a {
        font-size: 16px;
    }

    .contact-heading-row {
        padding-top: 20px;
    }

    .contact-form h2 {
        font-size: 25px;
    }

    .text-input {
        width: 100%;
    }

    .form-group {
        padding: 5px;
    }

    .quotes-col {
        padding-top: 15px;
        background-color: rgb(207, 214, 241);
        color: rgb(66, 64, 64);
    }

    blockquote {
        padding-top: 20px;
        color: rgb(66, 64, 64);
        font-size: 28px;
    }

    #contact-section {
        background: url('../images/iceland-night-lights.jpg') no-repeat center center fixed;
        background-size: cover;
        padding-bottom: 0;
    }

    .contact-col {
        padding-bottom: 25px;
    }

}

/* Screens above 768px */

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .contact-form p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .text-input {
        width: 80%;
    }

    .form-group {
        padding: 20px;
    }

    .quotes-col {
        padding-top: 15px;
    }

    blockquote {
        padding-top: 20px;
        font-size: 32px;
    }
}